.wrapper {
    width: 640px;
}

.title {
    margin-top: 40px;
}

.status {
    margin-top: 12px;
}

.composition_title {
    margin-top: 60px;
}

.ingredient {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ingredient_title {
    flex: 1;
}

.ingredient_price {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.total {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.list {
    height: 312px;
    margin-top: 24px;
    padding-right: 24px;
    gap: 16px;
}